In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mutual_info_score

In [7]:
dataset=pd.DataFrame({'Likes Popcorn':[True,True,True,False,True],'Height':[1.77,1.32,1.45,1.65,1.33]
                      ,'Loves Troll 2':[True,False,True,True,True]})
dataset

   Likes Popcorn  Height  Loves Troll 2
0           True    1.77           True
1           True    1.32          False
2           True    1.45           True
3          False    1.65           True
4           True    1.33           True

In [11]:
dataset['Likes Popcorn']=dataset['Likes Popcorn'].astype(int)
dataset['Loves Troll 2']=dataset['Loves Troll 2'].astype(int)

In [12]:
dataset

   Likes Popcorn  Height  Loves Troll 2
0              1    1.77              1
1              1    1.32              0
2              1    1.45              1
3              0    1.65              1
4              1    1.33              1

In [13]:
mutual_info_score(dataset['Likes Popcorn'],dataset['Loves Troll 2'])

np.float64(0.050534307843141224)

In [14]:
mutual_info_score(dataset['Height'],dataset['Loves Troll 2'])

C:\Users\Rahul\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:59: UserWarning: Clustering metrics expects discrete values but received continuous values for label, and binary values for target
  warnings.warn(msg, UserWarning)

np.float64(0.5004024235381879)

 👆 This is wrong Because the feature datatpye is continous v/s discrete

In [16]:
from sklearn.feature_selection import mutual_info_classif

In [18]:
mutual_info_classif(dataset[['Height']],dataset['Loves Troll 2'])

array([0])

📉 Mutual Information = 0
So, Height provides no information about predicting Loves Troll 2 in your dataset.

##### why 2d because it is column not list.
###### X = dataset[['Height']]  # 2D DataFrame ✅
###### X = dataset['Height']  # 1D Series ❌

from sklearn.feature_selection import mutual_info_regression ---> It is used for continous data v/s continuous data